@import "../fonts/dinpro/stylesheet.css";
@import "../fonts/gilroy/gilroy.css";

@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.eot');
    src: url('../fonts/roboto/Roboto-Bold.eot?iefix') format('eot'),
    url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "DIN Pro";
    font-size: 16px;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: normal;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: #222222;
    margin: 0;
}

h2 {
    margin: 0;
}

.wrap {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

button, input {
    background: none;
    border: none;
}

a:focus, button:focus, input:focus {
    text-decoration: none;
    border: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

input[type="submit"] {
    -webkit-appearance: none;
}

img {
    max-width: 100%;
}


//header
.header {
    padding: 165px 374px 126px;
    text-align: center;
}

.header .wrap {
    width: 760px;
}

.header h1 {
    margin-bottom: 18px;
}

.header h2 {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 26px;
    color: #4a4556;
    margin-bottom: 34px;
    font-weight: normal;
    padding-left: 5px;
}

.header .button {
    margin-left: 280px;
}
//end header



//button
.button {
    display: flex;
    align-items: center;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #222222;
    transition: all .3s;
    border-radius: 111px;
    padding: 0 30px 0 0;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 700;
}

.button__icon {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(135, 135, 135, .5);
    border-radius: 111px;
    transition: all .3s;
    margin-right: -8px;
}

.button__icon svg {
    width: 14px;
    height: 14px;
    fill: #f47821;
    color: #f47821;
}

.button:hover {
    background: rgba(135, 135, 135, .5);
}

.button:hover .button__icon {
    background: rgba(135, 135, 135, .0);
}
//end button



//text-color
.text-orange {
    color: #f47821;
}
//end text-color



//promo
.promo {
    background: #f7f5fa;
    padding-bottom: 80px;
}

.promo__image {
    height: 600px;
    background: url(../assets/promo.png) center no-repeat;
    background-size: cover;
    margin-bottom: -100px;
}

.promo__items {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 972px;
    max-width: 100%;
    margin: 0 auto;
}

.promo__item {
    border: 1px solid #ededed;
    flex-basis: 50%;
    width: 50%;
    padding: 50px 75px 59px 60px;
    box-sizing: border-box;
}

.promo__title {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f47821;
    margin-bottom: 12px;
}

.promo__text {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #222222;
}
//end promo


//content
.content {
    padding: 80px 15px 100px;
}

.content .wrap {
    width: 773px;
}

.content h2 {
    font-size: 48px;
    font-weight: normal;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #222222;
    margin-bottom: 24px;
}

.content p {
    line-height: 26px;
    font-family: "Roboto";
    color: #4e4d53;
    margin: 0;
}

.content p:not(:last-child) {
    margin-bottom: 27px;
}
//end content




//advantage
.advantage {
    background: #f7f5fa;
    padding: 124px 0 160px;
}

.advantage .wrap {
    width: 1170px;
}

.advantage .title {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 60px;
}

.advantage__items {
    display: flex;
}

.advantage__item {
    flex-basis: 27.9%;
    box-sizing: border-box; 
}

.advantage__item:not(:nth-child(3)) {
    margin-right: 70px;
}

.advantage__icon {
    margin-bottom: 30px;
}

.advantage__icon svg {
    width: 51.96px;
    height: 52px;
    stroke: #f47821;
    stroke-width: 2px;
}

.advantage__title {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 22px;
    position: relative;
    margin-bottom: 27px;
}

.advantage__title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #f47821;
}

.advantage__text {
    font-family: "Roboto";
    line-height: 26px;
    color: #4e4d53;
}
//end advantage



//footer
.footer {
    background: #161616;
    padding: 100px 0 120px;
}

.footer .wrap {
    width: 762px;
}

.footer__title {
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 60px;
}

.footer .form {
    width: 667px;
    max-width: 100%;
}
//end footer



//form
.form {
    width: 100%;
    counter-reset: step;
}

.form__item {
    counter-increment: step;
    margin-bottom: 48px;
}

.form__item:nth-child(4) .form__label {
    margin-bottom: 18px;
}

.form__item:nth-child(4) .form__label span {
    padding-top: 24px;
}

.form__label {
    display: flex;
    align-items: center;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #ffffff;
}

.form__step {
    min-width: 64px;
    height: 64px;
    border: 1px solid rgba(255,255,255,0.23);
    border-radius: 50%;
    margin-right: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__step::after {
    content: counter(step);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    color: #f47821;
}

::-webkit-input-placeholder { 
    color: #ffffff; 
    opacity: 0.3;
    font-size: 24px;
    letter-spacing: -0.01em;
    font-family: "Roboto";
}
:-ms-input-placeholder { 
    color: #ffffff; 
    opacity: 0.3;
    font-size: 24px;
    letter-spacing: -0.01em;
    font-family: "Roboto";
}
::-ms-input-placeholder { 
    color: #ffffff; 
    opacity: 0.3;
    font-size: 24px;
    letter-spacing: -0.01em;
    font-family: "Roboto";
}
::placeholder { 
    color: #ffffff; 
    opacity: 0.3;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: -0.01em;
    font-family: "Roboto";
} 

.form__input {
    padding-left: 92px;
}

.form__input input {
    padding-bottom: 5px;
    width: 100%;
    height: 47px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.form__input textarea {
    display: block;
    width: 100%;
    height: 82px;
    resize: none;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background: none;
}

.form__button {
    margin-top: 60px;
    width: 574px;
    max-width: 100%;
    margin-left: auto;
}

.form__button input {
    width: 100%;
    height: 54px;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #f47821;
}
//end form